/*
	-> Name: style.css
	-> Description: Document stylesheet for the Fasm.ga webpage.
	-> Resource: /src/css/style.css
	-> Licensing: GPLv3 | © 2022, Fasm.ga
*/

/*** Imports ***/
@import url("./theme/dark.css?M3.3");
@import url("./theme/light.css?M3.3") (prefers-color-scheme: light);
@import url("./static.css?M3.3");


/***
	The following rules apply to every element on the screen
***/
* {
	font-family: var(--text);
	font-size: var(--text-size);
	text-decoration: none;
	line-height: var(--default-line-height);

	color: var(--foreground-10);

	scroll-behavior: smooth;
	will-change: transition;
	transition: var(--animation);
}

html, body {
	display: grid;

	margin: var(--page-padding);
	padding: var(--page-padding);

	height: 100%;

	background: var(--background-10);
}

body {
	display: grid;
	grid-template-areas:
		'header'
		'content';
	grid-template-rows:
		min-content 1fr;
}

.content {
	display: grid;
	grid-area: content;

	place-content: center;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}
			
/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	Styles for standard HTML elements
***/
a {
	color: var(--accent);

	text-decoration: var(--link-text-decoration);
	cursor: var(--link-cursor);
}
a:hover {
	color: var(--charmga-accent-80);
}

b,
info::before,
code::before
{
	font-weight: var(--bold);
	letter-spacing: var(--bold-letter-spacing);
}

h1, .display {
	font-family: var(--display);
	font-size: var(--display-size);
}

h2, .headline,
section::before,
main > info::before
{
	font-family: var(--headline);
	font-size: var(--headline-size);
	font-weight: var(--bold);
}

h3, .subheadline,
section[subtitle]::before {
	font-family: var(--subheadline);
	font-size: var(--subheadline-size);
	font-weight: var(--bold);
}

pre,
code {
	font-family: var(--monospace);
	font-size: var(--monospace-size);
}

img {
	max-width: var(--responsive-width);
	max-height: var(--responsive-height);
	height: auto;
}

:not(ol) > li {
	list-style: '├ ';
}
:not(ol) > li:last-of-type {
	list-style: '└ ';
}

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	Styles for website pages and sections, designed for fast page navigation
***/
section {
	gap: var(--grid-gaps);
	place-items: center;
	place-self: center;

	margin: var(--max-padding);
	padding: var(--min-padding);

	overflow: auto;

	scroll-behavior: smooth;
}

/* Hacky solution but I can get away with it for now */
section, section:target ~ main > section  {
	display: none;
}
main > section, section:target {
	display: grid;
	animation: slide-in var(--animation) forwards alternate;
}

@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	} 100% {
		opacity: 1;
		transform: none;
	}
}
@keyframes slide-out {
	0% {
		opacity: 1;
		transform: none;
	} 100% {
		opacity: 0;
		transform: translateX(100%);
	}
}

section::before {
	content: attr(title);

	line-height: var(--title-height);
}
section[title]::before {
	content: attr(title);
}
section[subtitle]::before {
	content: attr(subtitle);
}

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	Additional webpage or stylistic elements
***/
.positive { color: var(--accent); }
.neutral { color: var(--foreground-20); }
.negative { color: var(--desert-red-50); }

.logo {
	font-family: var(--display);

	color: var(--foreground-20);
}
.logo:hover {
	color: var(--accent);
}

icon,
nav a::before,
button[icon]::before,
::marker {
	vertical-align: var(--icon-alignment);

	font-family: var(--icon);
	text-decoration: none;
}

icon.fluent,
nav a::before,
input[type=submit],
button[icon]::before,
::marker
{ font-family: var(--icon); }

info,
code {
	display: inline-block;

	margin-block: var(--standard-padding);
	padding: var(--max-padding);
	z-index: var(--in-between);

	max-width: var(--max-line-width);

	border: var(--element-border);
	border-radius: var(--element-corner-radius);

	background-color: var(--background-10);
	color: var(--overlay-foreground-5);

	overflow-wrap: break-word;
}
info::before,
code::before {
	display: block;
	content: attr(title);

	padding-bottom: var(--min-padding);
}

info.recommended::before,
code.recommended::before {
	color: var(--accent);
}

info.warning::before,
code.warning::before {
	color: var(--light-yellow-10)
}

info.error::before,
code.error::before {
 color: var(--desert-red-50);
}

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	Sections and semantics, parts of the webpage
***/
header, footer
{
	display: block;

	padding: var(--standard-padding);
	z-index: var(--on-top);

	background-color: var(--background-10);
}
header {
	border-bottom: var(--section-border);
}
footer {
	border-top: var(--section-border);
}
body > header {
	grid-area: header;
}

nav {
	padding: var(--standard-padding);

	border-radius: var(--section-corner-radius);
}

nav[orientation=horizontal] {
	display: block;

	white-space: var(--no-wrap);

	overflow-y: hidden;
	overflow-x: auto;
}
nav[orientation=vertical] {
	line-height: var(--vertical-nav-padding);

	overflow-y: auto;
	overflow-x: hidden;
}

header nav,
footer nav {
	border-radius: 0;

	text-align: center;
}

.accordion, .accordion.closed {
	max-height: 0;
	overflow: hidden;
}
.accordion.open, .accordion:target {
	max-height: fit-content;
}

summary > * {
	display: inline-block;
}
summary {
	list-style: none;
	cursor: var(--link-cursor);
}
summary::before {
	content: '\E70D  ';
}
[open] > summary::before,
summary:hover::before {
	content: '\E70E  ';
}

.screensaver {
	width: 100vw;
	height: 100vh;

	background: black;
}

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	Interactive user controls: buttons, inputs and forms
***/
form {
	display: flex;
	column-gap: var(--min-padding);
}

button, input[type=submit] {
	display: inline-block;
	vertical-align: top;

	padding: var(--standard-padding);

	border: none;
	border-radius: var(--control-corner-radius);

	font-size: var(--button-text-size);

	background-color: var(--foreground-20);
	color: var(--background-10);

	cursor: var(--link-cursor);
	-webkit-appearance: none;
}
button {
	font-family: var(--monospace);
}

button[icon]::before
{
	content: attr(icon);

	margin-right: var(--min-padding);
}

button:hover, input[type=submit]:hover,
main button, main > form input[type=submit] {
	border: none;
	background-color: var(--accent);
	color: var(--background-10);
}
main button:hover, main > form input[type=submit]:hover {
	background-color: var(--charmga-accent-80);
}

main > form input:not([type=submit]) {
	border-color: var(--accent);
}
input[type=submit] {
	padding: var(--max-padding);

	font-size: var(--icon-button-size);

	color: var(--background-10);
}
main > form input:not([type=submit]):hover {
	border-color: var(--charmga-accent-80);
}

input:not([type=submit]) {
	padding: var(--standard-padding);

	border: var(--control-boundary);
	border-radius: var(--control-corner-radius);
	outline: none;

	resize: none;

	font-family: var(--monospace);

	background-color: var(--transparency);
	color: var(--foreground-10);
}
input:not([type=submit]):hover {
	border: var(--control-accent-boundary);

	color: var(--accent);
}

nav a {
	margin: var(--min-padding) 0;
	padding: var(--standard-padding);

	font-family: var(--monospace);

	color: var(--foreground-10);

	white-space: var(--no-wrap);

	cursor: var(--link-cursor);
}
nav a::before {
	content: attr(icon);
}
nav a::after {
	content: var(--text-spacing) attr(title);
}
@media only screen and (max-width: 800px) {
	nav a::after {
		display: none;
		content: attr(title);
	}
}
nav[orientation=vertical] a {
	display: block;
}
