/*
	-> Name: style.css
	-> Description: Document stylesheet for the Fasm.ga webpage.
	-> Resource: /src/css/style.css
	-> Licensing: GPLv3 | © 2022, Fasm.ga
*/

/*** Imports ***/
@import url("./static.css?M3.99");
@import url("./theme.css?M3.99");


* {
	font-family: var(--text);
	font-size: var(--text-size);
	text-decoration: none;
	line-height: var(--default-line-height);

	color: var(--foreground);

	scroll-behavior: smooth;
	will-change: transition;
	transition: var(--animation);
}

html, body {
	display: grid;

	margin: var(--page-padding);
	padding: var(--page-padding);

	height: 100%;

	background: var(--background);
}

body {
	display: grid;
	grid-template-areas:
		'header'
		'content';
	grid-template-rows:
		min-content 1fr;
}

body > main {
	display: grid;
	grid-area: content;

	place-content: center;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}
			
/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	Styles for standard HTML elements
***/
a {
	color: var(--accent);

	text-decoration: var(--link-text-decoration);
	cursor: var(--link-cursor);
}
a:hover {
	color: var(--accent-alt);
}

b,
dialog::before,
code::before,
label
{
	font-weight: var(--bold);
	letter-spacing: var(--bold-letter-spacing);
}

h1, .display {
	font-family: var(--display);
	font-size: var(--display-size);
	letter-spacing: var(--bold-letter-spacing);
}

h2, .headline,
section::before,
main > dialog::before
{
	font-family: var(--headline);
	font-size: var(--headline-size);
	font-weight: var(--bold);
	letter-spacing: var(--bold-letter-spacing);
}

h3, .subheadline,
section[subtitle]::before,
summary {
	font-family: var(--subheadline);
	font-size: var(--subheadline-size);
	font-weight: var(--bold);
	letter-spacing: var(--bold-letter-spacing);
}

pre,
code {
	font-family: var(--monospace);
	font-size: var(--monospace-size);
}

img {
	max-width: var(--responsive-width);
	max-height: var(--responsive-height);
	height: auto;
}

:not(ol) > li {
	list-style: '├ ';
}
:not(ol) > li:last-of-type {
	list-style: '└ ';
}

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	Styles for website pages and sections, designed for fast page navigation
***/
section,
details {
	gap: var(--grid-gaps);
	place-items: center;
	place-self: center;

	margin: var(--max-padding);
	padding: var(--min-padding);

	overflow: auto;

	scroll-behavior: smooth;
}

section:not([open]), section:target ~ section.home  {
	display: none;
}
section.home, section:target {
	display: grid;
	animation: var(--slide-in);
}

@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	} 100% {
		opacity: 1;
		transform: none;
	}
}
@keyframes slide-out {
	0% {
		opacity: 1;
		transform: none;
	} 100% {
		opacity: 0;
		transform: translateX(100%);
	}
}
@keyframes plop-in {
	0% {
		max-height: 0px;
		transform: translateX(-100%);
	} 100% {
		height: fit-content;
		transform: none;
	}
}
@keyframes plop-out {
	0% {
		max-height: none;
		transform: none;
	} 100% {
		height: 0px;
		transform: translateX(100%);
	}
}

section::before {
	content: attr(title);

	line-height: var(--title-height);
}
section[title]::before {
	content: attr(title);
}
section[subtitle]::before {
	content: attr(subtitle);
}

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	Additional webpage or stylistic elements
***/
.positive { color: var(--accent); }
.neutral { color: var(--foreground-2); }
.negative { color: var(--red-5); }

.logo {
	font-family: var(--display);

	color: var(--foreground-2);
}
.logo:hover {
	color: var(--accent);
}

icon,
nav a::before,
[icon]::before,
::marker {
	content: attr(icon);

	margin-inline-end: var(--min-padding);
	vertical-align: var(--icon-alignment);

	font-family: var(--icon);
	text-decoration: none;
}

icon.fluent,
input[type=submit],
[icon]::before,
::marker
{ font-family: var(--icon); }

dialog:not([open]) {
	display: none;
}
dialog,
code {
	display: inline-block;
	position: relative;

	margin-block: var(--standard-padding);
	padding: var(--max-padding);
	z-index: var(--in-between);

	max-width: var(--max-line-width);

	border: var(--element-border);
	border-radius: var(--element-corner-radius);

	background: var(--background);
	color: var(--overlay-foreground-5);

	overflow-wrap: break-word;
}
dialog::before,
code::before {
	display: block;
	content: attr(title);

	padding-bottom: var(--min-padding);
}

dialog[open] {
	animation: var(--plop-in);
}

dialog.link-card::before {
	content: attr(link);

	color: var(--accent);
}
dialog.link-card::after {
	display: block;
	content: 'Original URL: ' attr(original);

	padding-top: var(--min-padding);
}

dialog.recommended::before,
code.recommended::before {
	color: var(--accent);
}

dialog.warning::before,
code.warning::before {
	color: var(--yellow-1)
}

dialog.error::before,
code.error::before {
	color: var(--red-5);
}


/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	Sections and parts of the webpage
***/
header, footer
{
	display: block;

	padding: var(--standard-padding);
	z-index: var(--on-top);

	background: var(--background);
}
header {
	border-bottom: var(--section-border);
}
footer {
	border-top: var(--section-border);
}
body > header {
	grid-area: header;
}

nav {
	padding: var(--standard-padding);

	border-radius: var(--section-corner-radius);
}

nav[orientation=horizontal] {
	display: block;
}
nav[orientation=vertical] {
	line-height: var(--vertical-nav-padding);

	overflow-y: auto;
	overflow-x: hidden;
}

header nav,
footer nav {
	text-align: center;
}

@media only screen and (max-width: 800px) {
	header {
		position: fixed;
		bottom: 0;

		width: 100%;

		border-bottom: var(--min-border);
		border-top: var(--section-border);
	}
	body {
		padding-bottom: var(--content-padding);
	}
}

summary {
	display: block;
	margin-block: var(--min-padding);
}
summary {
	list-style: none;
	cursor: var(--link-cursor);
}
summary::before {
	content: '\E70D  ';
}
[open] > summary::before,
summary:hover::before {
	content: '\E70E  ';
}

.screensaver {
	width: 100vw;
	height: 100vh;

	background: var(--lunar-haze-3);
}

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	Interactive user controls: buttons, inputs and forms
***/
form > div {
	display: grid;
	grid-template-areas:
		'label label'
		'input enter'
		'submit submit';
	column-gap: var(--min-padding);
	row-gap: var(--standard-padding);
}

form > div label {
	grid-area: label;
}
form > div input {
	grid-area: input;
}
form > div input:first-of-type ~ input[type=submit] {
	grid-area: enter;
}
form > div input[type=submit]:last-child {
	grid-area: submit;
}

button, input[type=submit] {
	display: inline-block;
	vertical-align: top;

	padding: var(--standard-padding);

	border: var(--min-border);
	border-radius: var(--control-corner-radius);

	font-size: var(--button-text-size);

	background: var(--foreground-2);
	color: var(--background);

	cursor: var(--link-cursor);
	-webkit-appearance: none;
}
button {
	display: inline-block;
	
	font-family: var(--monospace);
	vertical-align: middle;
}
button.primary {
	text-transform: uppercase;
}

button:hover, input[type=submit]:hover,
button.primary, main > form input[type=submit] {
	border: var(--min-border);
	background: var(--accent);
	color: var(--background);
}
main button:hover, button.primary:hover, main > form input[type=submit]:hover {
	background: var(--accent-alt);
}
button.completed::before {
	content: '\E73E';
}

main > form input:not([type=submit]) {
	border-color: var(--accent);
}
input[type=submit] {
	padding: var(--max-padding);

	font-size: var(--icon-button-size);

	color: var(--background);
}
main > form input:not([type=submit]):hover {
	border-color: var(--accent-alt);
}

input:not([type=submit]) {
	padding: var(--standard-padding);

	border: var(--control-boundary);
	border-radius: var(--control-corner-radius);
	outline: none;

	resize: none;

	font-family: var(--monospace);

	background: var(--transparency);
	color: var(--foreground);
}
input:not([type=submit]):hover {
	border: var(--control-accent-boundary);

	color: var(--accent);
}

nav a {
	padding: var(--standard-padding);

	font-family: var(--monospace);

	color: var(--foreground);

	white-space: var(--no-wrap);

	cursor: var(--link-cursor);
}
nav a::after {
	content: attr(title);
}
@media only screen and (max-width: 800px) {
	header nav a::after {
		display: none;
	}
}
nav[orientation=vertical] a {
	display: block;
}
