/*
	-> Name: light.css
	-> Description: Charm.ga light theme for CSS
	-> Resource: /src/css/themes/light.css
	-> Licensing: GPLv3 | © 2022, Fasm.ga
*/


:root {
	--accent: #04977C;
	--accent-alt: var(--green-7);

	--arctic-haze-1: hsl(169, 44%, 93%);
	--arctic-haze-2: hsl(213, 53%, 90%);
	--arctic-haze-3: hsl(30, 4%, 78%);
	--arctic-haze-4: hsl(30, 4%, 73%);
	--arctic-haze-5: hsl(30, 4%, 69%);

	--lunar-haze-1: hsl(0, 0%, 7%);
	--lunar-haze-2: hsl(0, 10%, 12%);
	--lunar-haze-3: hsl(0, 15%, 17%);
	--lunar-haze-4: hsl(0, 20%, 22%);
	--lunar-haze-5: hsl(0, 25%, 27%);

	--green-1: hsl(168, 95%, 16%);
	--green-2: hsl(169, 94%, 20%);
	--green-3: hsl(169, 95%, 24%);
	--green-4: hsl(169, 94%, 28%);
	--green-5: hsl(169, 95%, 30%);
	--green-6: hsl(169, 95%, 36%);
	--green-7: hsl(169, 95%, 40%);
	--green-8: hsl(169, 95%, 44%);
	--green-9: hsl(169, 95%, 48%);

	--blue-1: hsl(213, 53%, 36%);
	--blue-2: hsl(213, 53%, 36%);
	--blue-3: hsl(213, 53%, 36%);
	--blue-4: hsl(213, 53%, 44%);
	--blue-5: hsl(213, 53%, 52%);
	--blue-6: hsl(209, 53%, 60%);
	--blue-7: hsl(213, 53%, 68%);
	--blue-8: hsl(212, 53%, 76%);
	--blue-9: hsl(213, 53%, 90%);

	--red-1: hsl(349, 75%, 24%);
	--red-2: hsl(349, 75%, 28%);
	--red-3: hsl(349, 75%, 32%);
	--red-4: hsl(349, 75%, 36%);
	--red-5: hsl(349, 75%, 39%);
	--red-6: hsl(349, 75%, 44%);
	--red-7: hsl(349, 75%, 48%);
	--red-8: hsl(349, 75%, 52%);
	--red-9: hsl(349, 75%, 56%);

	--yellow-1: hsl(49, 97%, 40%);
	--yellow-2: hsl(49, 97%, 44%);
	--yellow-3: hsl(49, 97%, 48%);
	--yellow-4: hsl(49, 97%, 52%);
	--yellow-5: hsl(49, 97%, 55%);
	--yellow-6: hsl(49, 97%, 60%);
	--yellow-7: hsl(49, 97%, 64%);
	--yellow-8: hsl(49, 98%, 68%);
	--yellow-9: hsl(49, 97%, 72%);
}

.accent {	color: var(--accent); }
.primary { background-color: var(--accent); }

[theme=dark], [theme=auto] {
	--background: var(--lunar-haze-1);
	--background-2: var(--lunar-haze-2);
	--background-3: var(--lunar-haze-3);
	--background-4: var(--lunar-haze-4);
	--background-5: var(--lunar-haze-5);
	
	--foreground: var(--arctic-haze-1);
	--foreground-2: var(--arctic-haze-3);
	--foreground-3: var(--arctic-haze-3);
	--foreground-4: var(--arctic-haze-4);
	--foreground-5: var(--arctic-haze-5);

	--color: var(--foreground);
	
	--overlay-foreground-5: var(--foreground-2);
	--overlay-foreground-10: var(--foreground-3);
	--overlay-foreground-15: var(--foreground-4);
}
[theme=light] {
	--background: var(--arctic-haze-1);
	--background-2: var(--arctic-haze-2);
	--background-3: var(--arctic-haze-3);
	--background-4: var(--arctic-haze-4);
	--background-5: var(--arctic-haze-5);
	
	--foreground: var(--lunar-haze-1);
	--foreground-2: var(--lunar-haze-2);
	--foreground-3: var(--lunar-haze-3);
	--foreground-4: var(--lunar-haze-4);
	--foreground-5: var(--lunar-haze-5);

	--color: var(--foreground);

	--overlay-foreground-5: var(--foreground-2);
	--overlay-foreground-10: var(--foreground-3);
	--overlay-foreground-15: var(--foreground-4);
}

@media (prefers-color-scheme: light) {
	[theme=auto] {
		--background: var(--arctic-haze-1);
		--background-2: var(--arctic-haze-2);
		--background-3: var(--arctic-haze-3);
		--background-4: var(--arctic-haze-4);
		--background-5: var(--arctic-haze-5);
		
		--foreground: var(--lunar-haze-1);
		--foreground-2: var(--lunar-haze-2);
		--foreground-3: var(--lunar-haze-3);
		--foreground-4: var(--lunar-haze-4);
		--foreground-5: var(--lunar-haze-5);

		--color: var(--foreground);
	
		--overlay-foreground-5: var(--foreground-2);
		--overlay-foreground-10: var(--foreground-3);
		--overlay-foreground-15: var(--foreground-4);
	}
}